/* Mise en Page*/
*{
box-sizing: border-box;
margin: 0;
padding: 0;
font-family: 'Inclusive Sans', sans-serif;
}

.bgColorNav{
background-color: rgb(238, 150, 75);
}
.colorsTextNav{
  color: rgb(13, 59, 102);
}
/* Point de rupture pour les mobiles  */
@media screen and (max-width: 360px) {
  /* Header */
  .logo {
    /* height: 120px; */
    width: auto;
}
h1 {
  margin: 20px;
  text-align: center;
  color: rgb(13, 59, 102);
}
.containerHeader {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-between;
  align-items: center;
}
    nav{
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      align-content: center;
      justify-content: center;
  }
/* bouton header */
    .btn {
      align-items: center;
      appearance: none;
      background-color: rgb(13, 59, 102);
      background-image: linear-gradient(1deg, #2A3E53);
      background-size: calc(100% + 20px) calc(100% + 20px);
      border-radius: 100px;
      border-width: 0;
      box-shadow: none;
      box-sizing: border-box;
      color: #FFFFFF;
      display: inline-flex;
      font-family: CircularStd,sans-serif;
      font-size: 10px;
      height: auto;
      justify-content: center;
      line-height: 1.5;
      padding: 3px 9px;
      position: relative;
      text-align: center;
      text-decoration: none;
      transition: background-color .2s,background-position .2s;
      user-select: none;
      -webkit-user-select: none;
      touch-action: manipulation;
      vertical-align: top;
      white-space: nowrap;
  }
  /* Fin du header */
  /* Carrousel Body*/
  .textCarrousel{
    font-size: 1rem;
  }
  .cch{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
  }
.container-carrousel {
  margin-top: 55px;
  width: 90%;
  display: flex;
  justify-content: center;
  gap: 53px;
  flex-direction: column;
  flex-wrap: nowrap;
    
      > div {
    flex: 0 0 100px;
    border-radius: 0.5rem;
    transition: 0.5s ease-in-out;
    cursor: pointer;
    box-shadow: 1px 5px 15px rgb(13, 59, 102);
    position: relative;
    overflow: hidden;
    
        &:nth-of-type(1) {
          background: url("../img/c1.jpg")
            no-repeat 50% / contain;
        }
        &:nth-of-type(2) {
          background: url("../img/c2.jpg")
            no-repeat 50% / contain;
        }
        &:nth-of-type(3) {
          background: url("../img/c3.jpg")
            no-repeat 50% / contain;
        }
        &:nth-of-type(4) {
          background: url("../img/c4.jpg")
            no-repeat 50% / contain;
        }
    
        .content {
          font-size: 1.5rem;
          color: #fff;
          display: flex;
          align-items: center;
          padding: 15px;
          opacity: 0;
          flex-direction: column;
          height: 100%;
          justify-content: flex-end;
          background: rgb(13, 59, 102);
          background: linear-gradient(
            0deg,
            rgba(230, 150, 75, 0.6755077030812324) 0%,
            rgba(255, 255, 255, 0) 100%
          );
          transform: translatey(100%);
          transition: opacity 0.5s ease-in-out, transform 0.5s 0.2s;
          visibility: hidden;
    
          span {
            display: block;
            margin-top: 5px;
            font-size: 1rem;
          }
        }
    
        &:hover {
          flex: 0 0 250px;
          box-shadow: 1px 3px 15px rgb(13, 59, 102);
          transform: translatey(-30px);
        }
    
        &:hover .content {
          opacity: 1;
          transform: translatey(0%);
          visibility: visible;
        }
      }
  }
  /* bannier body */
  .containerBase {
    margin-top: 35px;
    display: flex;
    width: auto;
    background-color: rgb(13, 59, 102);
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}
.bannerBase1 {
  font-size: 26px;
  text-align: center;
  color: white;
}
.containerBaseBanner {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.bannerBase2 {
  display: flex;
  margin-top: 10px;
  font-size: 1rem;
  flex-direction: column;
  text-align: center;
  color: #fff;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-around;
  align-content: center;
}
.svg{
  margin-top: 10px;
  width: 50px;
  height: 50px;
}
.box1 {
  font-size: 12px;
  margin-top: 10px;
}
.containerButton {
  margin-top: 40px;
  display: flex;
  flex-wrap: nowrap;
  gap: 15px;
  /* height: 200px; */
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
}
h2 {
  display: flex;
  color: rgb(13, 59, 102);
  align-content: center;
}
.btn1 {
  display: flex;
  flex-direction: column-reverse;
  flex-wrap: nowrap;
  align-items: center;
  gap: 10px;
}
.button-28 {
  appearance: none;
  background-color: transparent;
  border: 2px solid #202C39;
  border-radius: 15px;
  box-sizing: border-box;
  color: #202C39;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 50px;
  min-width: 0;
  outline: none;
  padding: 7px 18px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 60%;
  will-change: transform;
}
.textb {
  color: rgb(13, 59, 102);
  margin-top: 18px;
  font-size: 1rem;
}
/* Footer */
footer {
  color: white;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
  background-color: rgb(13, 59, 102);
  align-items: center;
}
.footerBase {
  display: flex;
  gap: 5px;
  margin-top: 5px;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: center;
}
.footerLien {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  gap: 12px;
}
.footerTexte {
  gap: 5px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 10px;
  justify-content: center;
  align-content: center;
}
.footerBotton {
  margin-top: 10px;
  gap: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.footerIcons{
  height: 20px;
  width: 20px;
}
/* menu  */
.filter {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.filter-link {
  margin: 0 10px;
  text-decoration: none;
  color: #333;
  cursor: pointer;
}

.filter-link.active {
  font-weight: bold;
}

.section {
  display: none;
}

.section:target {
  display: block;
}
.bg-color{
  background-color: rgb(13, 59, 102);
}
.iconePlace{
  width: 80px;
  height: 80px;
}
.pulse{
  color: #F29559;
  }
}

@media (min-width: 361px) and (max-width: 836px) {
  /* Header */
  h1 {
    margin: 20px;
    text-align: center;
    color: rgb(13, 59, 102);
}
  .logo {
    /* height: 120px; */
    width: auto;
}
.containerHeader {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-between;
  align-items: center;
}
    nav{
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      align-content: center;
      justify-content: center;
  }
/* bouton header */
    .btn {
      align-items: center;
      appearance: none;
      background-color: rgb(13, 59, 102);
      background-image: linear-gradient(1deg, #2A3E53);
      background-size: calc(100% + 20px) calc(100% + 20px);
      border-radius: 100px;
      border-width: 0;
      box-shadow: none;
      box-sizing: border-box;
      color: #FFFFFF;
      display: inline-flex;
      font-family: CircularStd,sans-serif;
      font-size: 10px;
      height: auto;
      justify-content: center;
      line-height: 1.5;
      padding: 3px 9px;
      position: relative;
      text-align: center;
      text-decoration: none;
      transition: background-color .2s,background-position .2s;
      user-select: none;
      -webkit-user-select: none;
      touch-action: manipulation;
      vertical-align: top;
      white-space: nowrap;
  }
  /* Fin du header */
  /* Carrousel Body*/
  .textCarrousel{
    font-size: 1rem;
  }
  .cch{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: flex-start;
}
  
.container-carrousel {
  margin-top: 55px;
  width: 90%;
  display: flex;
  justify-content: center;
  gap: 53px;
  flex-direction: column;
  flex-wrap: nowrap;
    
      > div {
    flex: 0 0 100px;
    border-radius: 0.5rem;
    transition: 0.5s ease-in-out;
    cursor: pointer;
    box-shadow: 1px 5px 15px rgb(13, 59, 102);
    position: relative;
    overflow: hidden;
    
        &:nth-of-type(1) {
          background: url("../img/c1.jpg")
            no-repeat 50% / contain;
        }
        &:nth-of-type(2) {
          background: url("../img/c2.jpg")
            no-repeat 50% / contain;
        }
        &:nth-of-type(3) {
          background: url("../img/c3.jpg")
            no-repeat 50% / contain;
        }
        &:nth-of-type(4) {
          background: url("../img/c4.jpg")
            no-repeat 50% / contain;
        }
    
        .content {
          font-size: 1.5rem;
          color: #fff;
          display: flex;
          align-items: center;
          padding: 15px;
          opacity: 0;
          flex-direction: column;
          height: 100%;
          justify-content: flex-end;
          background: rgb(13, 59, 102);
          background: linear-gradient(
            0deg,
            rgba(230, 150, 75, 0.6755077030812324) 0%,
            rgba(255, 255, 255, 0) 100%
          );
          transform: translatey(100%);
          transition: opacity 0.5s ease-in-out, transform 0.5s 0.2s;
          visibility: hidden;
    
          span {
            display: block;
            margin-top: 5px;
            font-size: 1rem;
          }
        }
    
        &:hover {
          flex: 0 0 250px;
          box-shadow: 1px 3px 15px rgb(13, 59, 102);
          transform: translatey(-30px);
        }
    
        &:hover .content {
          opacity: 1;
          transform: translatey(0%);
          visibility: visible;
        }
      }
  }
  /* bannier body */
  .containerBase {
    margin-top: 35px;
    display: flex;
    width: auto;
    background-color: rgb(13, 59, 102);
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}
.bannerBase1 {
  margin-top: 10px;
  font-size: 26px;
  text-align: center;
  color: white;
}
.containerBaseBanner {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.bannerBase2 {
  display: flex;
  /* margin-top: 10px; */
  font-size: 1rem;
  flex-direction: column;
  text-align: center;
  color: #fff;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-around;
  align-content: center;
}
.svg {
  margin-top: 20px;
  width: 50px;
  height: 50px;
}
.box1 {
  padding: 30px;
  font-size: 12px;
  margin-top: 10px;
}
.containerButton {
  margin-top: 40px;
  display: flex;
  flex-wrap: nowrap;
  gap: 15px;
  /* height: 200px; */
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
}
h2 {
  display: flex;
  color: rgb(13, 59, 102);
  align-content: center;
}
.btn1 {
  display: flex;
  flex-direction: column-reverse;
  flex-wrap: nowrap;
  align-items: center;
  gap: 10px;
}
.button-28 {
  appearance: none;
  background-color: transparent;
  border: 2px solid #202C39;
  border-radius: 15px;
  box-sizing: border-box;
  color: #202C39;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 50px;
  min-width: 0;
  outline: none;
  padding: 7px 18px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 60%;
  will-change: transform;
}
.textb {
  color: rgb(13, 59, 102);
  margin-top: 18px;
  font-size: 1rem;
}
/* Footer */
footer {
  color: white;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
  background-color: rgb(13, 59, 102);
  align-items: center;
}
.footerBase {
  display: flex;
  gap: 5px;
  margin-top: 5px;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: center;
}
.footerLien {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  gap: 12px;
}
.footerTexte {
  gap: 5px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 10px;
  justify-content: center;
  align-content: center;
}
.footerBotton {
  margin-top: 10px;
  gap: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.footerIcons{
  height: 20px;
  width: 20px;
}
/* menu  */
.filter {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.filter-link {
  margin: 0 10px;
  text-decoration: none;
  color: #333;
  cursor: pointer;
}

.filter-link.active {
  font-weight: bold;
}

.section {
  display: none;
}

.section:target {
  display: block;
}
.bg-color{
  background-color: rgb(13, 59, 102);
}
.iconePlace{
  width: 80px;
  height: 80px;
}
.pulse{
  color: #F29559;
  }
}

/* Point de rupture pour les tablettes  */
@media (min-width: 837px) and (max-width: 1240px) {
  h1 {
    margin: 20px;
    text-align: center;
    color: rgb(13, 59, 102);
}
  .containerHeader {
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
}
.containerButton{
  margin-top: 10px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;

}
.cch {
  display: grid;
  place-items: center;
  font-weight: 400;
  min-height: 50vh;
  }
  
  .container-carrousel {
    margin-top: 55px;
    width: 100%;
    display: flex;
    justify-content: center;
    height: 500px;
    gap: 10px;
      
        > div {
          flex: 0 0 193px;
          border-radius: 0.5rem;
          transition: 0.5s ease-in-out;
          cursor: pointer;
          box-shadow: 1px 5px 15px rgb(13, 59, 102);
          position: relative;
          overflow: hidden;
      
          &:nth-of-type(1) {
            background: url("../img/c1.jpg")
              no-repeat 50% / contain;
          }
          &:nth-of-type(2) {
            background: url("../img/c2.jpg")
              no-repeat 50% / contain;
          }
          &:nth-of-type(3) {
            background: url("../img/c3.jpg")
              no-repeat 50% / contain;
          }
          &:nth-of-type(4) {
            background: url("../img/c4.jpg")
              no-repeat 50% / contain;
          }
      
          .content {
            font-size: 1.5rem;
            color: #fff;
            display: flex;
            align-items: center;
            padding: 15px;
            opacity: 0;
            flex-direction: column;
            height: 100%;
            justify-content: flex-end;
            background: rgb(13, 59, 102);
            background: linear-gradient(
              0deg,
              rgba(230, 150, 75, 0.6755077030812324) 0%,
              rgba(255, 255, 255, 0) 100%
            );
            transform: translatey(100%);
            transition: opacity 0.5s ease-in-out, transform 0.5s 0.2s;
            visibility: hidden;
      
            span {
              display: block;
              margin-top: 5px;
              font-size: 1.2rem;
            }
          }
      
          &:hover {
            flex: 0 0 250px;
            box-shadow: 1px 3px 15px rgb(13, 59, 102);
            transform: translatey(-30px);
          }
      
          &:hover .content {
            opacity: 1;
            transform: translatey(0%);
            visibility: visible;
          }
        }
    } 
    .containerBase{
      margin-top: 100px;
      display: flex;
      height: 400px;
      width: auto;
      background-color: rgb(13, 59, 102);
      flex-direction: column;
      flex-wrap: nowrap;
      align-content: stretch;
      justify-content: space-evenly;
      }
      .containerBaseBanner{
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: flex-start;
        }
        .textb {
          color: rgb(13, 59, 102);
          margin-top: 14px;
          /* font-size: 1.3rem; */
      }
      .btn1 {
        margin-top: 10px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: column;
    }
.bannerBase1{
  font-size: 2rem;
  text-align: center;
  color:white;
  }
  .bannerBase2{
  display: flex;
  font-size: 1.1rem;
  flex-direction: column;
  text-align: center;
  color: #fff;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  }
  .iconePlace{
    width: 110px;
    height: 110px;
  }
  .pulse{
    color: #F29559;
    }
    
/* .box1{
  margin-left: 50px;
  margin-top: 10px;
  width: 500px;
   */
   .textb {
    color: rgb(13, 59, 102);
    /* margin-top: 30px; */
    /* font-size: 1.3rem; */
}
  .svg{
  margin-top: 10px;
  }
  footer {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    /* margin-top: auto; */
    background-color: rgb(13, 59, 102);
    height: 150px;
}
    .footerBase{
    display: flex;
    gap: 10px;
    align-items: center;
    margin-top: 10px;
    flex-direction: column;
    color: white;
    }
    .footerText{
    color: white;
    }
    .footerTexte{
    gap: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 10px;
    }
    .footerLien{
    display: flex;
    width: 500px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    }
    .footerLien2{
    display: flex;
    width: 500px;
    color: white;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    }
    .footerIcons{
    display: flex;
    }
}

/* Point de rupture pour les ordinateurs de bureau (à partir de 1224px) */
@media (min-width: 1240px)  {
  h1 {
    margin: 20px;
    text-align: center;
    color: rgb(13, 59, 102);
}
  .containerHeader {
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
}
.cch {
  display: grid;
  place-items: center;
  font-weight: 400;
  min-height: 50vh;
  }
  .container-carrousel {
    margin-top: 55px;
    width: 100%;
    display: flex;
    justify-content: center;
    height: 500px;
    gap: 10px;
      
        > div {
          flex: 0 0 193px;
          border-radius: 0.5rem;
          transition: 0.5s ease-in-out;
          cursor: pointer;
          box-shadow: 1px 5px 15px rgb(13, 59, 102);
          position: relative;
          overflow: hidden;
      
          &:nth-of-type(1) {
            background: url("../img/c1.jpg")
              no-repeat 50% / contain;
          }
          &:nth-of-type(2) {
            background: url("../img/c2.jpg")
              no-repeat 50% / contain;
          }
          &:nth-of-type(3) {
            background: url("../img/c3.jpg")
              no-repeat 50% / contain;
          }
          &:nth-of-type(4) {
            background: url("../img/c4.jpg")
              no-repeat 50% / contain;
          }
      
          .content {
            font-size: 1.5rem;
            color: #fff;
            display: flex;
            align-items: center;
            padding: 15px;
            opacity: 0;
            flex-direction: column;
            height: 100%;
            justify-content: flex-end;
            background: rgb(13, 59, 102);
            background: linear-gradient(
              0deg,
              rgba(230, 150, 75, 0.6755077030812324) 0%,
              rgba(255, 255, 255, 0) 100%
            );
            transform: translatey(100%);
            transition: opacity 0.5s ease-in-out, transform 0.5s 0.2s;
            visibility: hidden;
      
            span {
              display: block;
              margin-top: 5px;
              font-size: 1.2rem;
            }
          }
      
          &:hover {
            flex: 0 0 250px;
            box-shadow: 1px 3px 15px rgb(13, 59, 102);
            transform: translatey(-30px);
          }
      
          &:hover .content {
            opacity: 1;
            transform: translatey(0%);
            visibility: visible;
          }
        }
    } 
    .containerBase{
      margin-top: 100px;
      display: flex;
      height: 400px;
      width: auto;
      background-color: rgb(13, 59, 102);
      flex-direction: column;
      flex-wrap: wrap;
      align-content: stretch;
      justify-content: space-evenly;
      }
      .containerBaseBanner{
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: flex-start;
        }
        
/* .box1{
  margin-left: 50px;
  margin-top: 10px;
  width: 500px; */
   

  .svg{
  margin-top: 10px;
  }
  
.bannerBase1{
  font-size: 2rem;
  text-align: center;
  color:white;
  }
  .bannerBase2{
  display: flex;
  font-size: 1.1rem;
  flex-direction: column;
  text-align: center;
  color: #fff;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  }
      .pulse{
        color: #F29559;
        }
  .iconePlace{
    width: 110px;
    height: 110px;
  }
  footer{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: auto;
    background-color: rgb(13, 59, 102);
    height: 150px;
    }
    .footerBase{
    display: flex;
    gap: 10px;
    align-items: center;
    margin-top: 10px;
    flex-direction: column;
    color: white;
    }
    .footerText{
    color: white;
    }
    .footerTexte{
    gap: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 10px;
    }
    .footerLien{
    display: flex;
    width: 500px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    }
    .footerLien2{
    display: flex;
    width: 500px;
    color: white;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    }
    .footerIcons{
    display: flex;
    }
}


header{
justify-content: space-between;
background-color: rgb(255, 255, 255);
min-height: 205.8px;
box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;   
}

.spaceNav{
padding-left: 10px;
}


nav a{
padding: 10px;
margin: 10px;
}

h2{
color: rgb(13, 59, 102);  
}

.textb{
color: rgb(13, 59, 102);  
margin-top: 30px;
font-size: 1.3rem; 
}
.btn1{
display: flex;
flex-direction: column;
justify-content:center ;
}
/* style bouton */
.btn{
align-items: center;
appearance: none;
background-color: rgb(13, 59, 102);
background-image: linear-gradient(1deg, #2A3E53);
background-size: calc(100% + 20px) calc(100% + 20px);
border-radius: 100px;
border-width: 0;
box-shadow: none;
box-sizing: border-box;
color: #FFFFFF;
display: inline-flex;
font-family: CircularStd,sans-serif;
font-size: 1rem;
height: auto;
justify-content: center;
line-height: 1.5;
padding: 6px 20px;
position: relative;
text-align: center;
text-decoration: none;
transition: background-color .2s,background-position .2s;
user-select: none;
-webkit-user-select: none;
touch-action: manipulation;
vertical-align: top;
white-space: nowrap;
}

/* Dimmension logo */
.logo {
  height: 150px;
  width:500px;
} 
/* Carrousel */

  /*  boutton */
 .button-28 {
    appearance: none;
    background-color: transparent;
    border: 3px solid #202C39;
    border-radius: 15px;
    box-sizing: border-box;
    color: #202C39;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    margin: 0;
    min-height: 60px;
    min-width: 0;
    outline: none;
    padding: 16px 24px;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 100%;
    will-change: transform;
}
  
.button-28:disabled {
pointer-events: none;
}
  
.button-28:hover {
   color: #fff;
  background-color: #F29559;
  border: 2px solid #F29559;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}
  
.button-28:active {
  box-shadow: none;
  transform: translateY(0);
}
 /* Styles pour la fenêtre contextuelle */
.modal-container {
            display: flex;
            justify-content: center;
            align-items: center;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.7);
            z-index: 999;
}
        
.modal-content {
            background-color: #fff;
            padding: 20px;
            border: 1px solid #ccc;
            border-radius: 5px;
            width: 50%;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
        }
.close {
            float: right;
            cursor: pointer;
}

 /* Styles pour le formulaire */
form {
            text-align: center;
}

form legend {
            font-size: 24px;
            margin-bottom: 20px;
}

form .mb-3 {
            margin-bottom: 20px;
}

form label {
            display: block;
            font-weight: bold;
}

.form_control {
            width: 100%;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
}

.submitSignup{
            background-color: #007bff;
            color: #fff;
            border: none;
            padding: 10px 20px;
            font-size: 16px;
            cursor: pointer;
 }

.submitSignup:hover {
            background-color: #0056b3;
 }
 /*  */
.hidden{
          display: none;
 }

/* User Story (vendeur) */
.bloc{
display: flex;
flex-direction: row;
}
.containerV{
background-color: rgb(13, 59, 102);
width: 400px;
height: 900px;
}
.cv{
display: flex;
flex-direction: column;
flex-wrap: nowrap;
align-items: center;
justify-content: flex-start;
width: 1550px;
height: 900px;
}
.position{
display: flex;
flex-direction: column;
justify-content: center;
gap: 40px;
}
.boxPlace{
display: flex;
justify-content: center; 
flex-direction: column;
flex-wrap: nowrap;
text-decoration: none;
 gap: 20px;
}
.boxPlaceA{
display: flex;
flex-direction: column;
text-decoration: none;
flex-wrap: wrap;
align-content: center;
align-items: center;
gap: 20px;
/* align-items: center;    */
}
.onglet{
display: flex;
justify-content: center; 
align-items: center;  
color: #ffffff;
background-color: rgb(238, 150, 75);
height: 30px;
/* width: 200px; */
/* border-radius: 0px 40px 40px 0px; */
}
.ongletP{
display: flex;
flex-direction: row;
align-items: center;
flex-wrap: wrap;
justify-content: center;
color: #ffffff;
background-color: rgb(238, 150, 75);
height: 30px;
/* width: 200px; */
/* border-radius: 0px 40px 40px 0px; */
}
.boxPl{
display: flex;
justify-content: center;
align-items: center;
color: #ffffff;
margin-top: 20px;
font-size: 1.6rem;
}
.ml{
display: flex;
flex-direction: column;
align-items: center;
gap: 20px;
color: #ffffff;
}

a {
text-decoration: none;
color:#ffffff;
font-size: 1.1rem;
}
.blocT{
display: flex;
flex-direction: row;
text-align: center;
justify-content: center;
margin-top: 30px;
}
.flxT{
display: flex;
justify-content: center;
align-items: center;
font-size: 1.1rem;
border-bottom: solid 5px rgb(238, 150, 75);
}
.textPlacA{
display: flex;
justify-content: center;
flex-direction: row;
color: white;
}

.blocAnAd{
display: flex;
flex-wrap: wrap;
flex-direction: column;
justify-content: space-around;
align-items: flex-start ;
align-items: flex-start;
margin-top: 50px;
width: 1252px;
height: 600px;

  /* border: solid 1px black; */
}
.container {
max-width: 800px;
margin: 0 auto;
background-color: #fff;
padding: 20px;
border-radius: 10px;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}



.formPaD {
height: 500px;
width: 750px;
padding: 32px;
display: flex; /* Afficher les éléments en ligne */
flex-direction: column; 
flex-wrap:wrap;
align-content: flex-start;
align-items: flex-start;
  /* justify-content: center; */
text-align: left;
box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
}
label {
display: block;
margin-bottom: 5px;
  
}
.flexPad{
width: 300px;
padding: 20px;
}
.flexPlaceAnAd{
  /* border: solid; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: space-evenly;
  align-items: center;
  width: 608px;
height: 432px;
}

/* Style pour le carrousel */
#image-carousel {
width: 200px;
gap: 10px;
flex: 1; /* Occupe l'espace restant */
display: flex;
flex-direction: column;
align-items: flex-end;
justify-content: center;
flex-wrap: wrap;
}
.image-container {
  position: relative;
  border-radius: 10px;
  overflow: hidden;
}
.image-container img {
  max-width: 100%;
  max-height: 200px;
  border-radius: 10px;
}
.remove-button {
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: rgb(249, 87, 56);
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}
.remove-button:hover {
  background-color: rgb(249, 87, 56);
}
